window {
    background-color: rgba(29, 31, 33, 0.95);
    border:          1px solid rgba(0, 0, 0, 0.9);
    font-family:     "DejaVu Sans";
    border-radius:   10px;
    margin:          0;
}

#input {
    background-color: rgba(55, 59, 65, 0.95);
    color:            #F8F8F2;
    border:           none;
    margin:           5px;
}

#inner-box, #outer-box {
    background-color: transparent;
    border:           none;
    margin:           5px;
}

#text {
    color:  #C5C8C6;
    border: none;
    margin: 5px;
}

#entry {
    border: none;
}

#entry:selected {
    background-color: rgba(55, 59, 65, 0.95);
    border-radius:    5px;
}
