@define-color bar-background        rgba(30, 30, 30, 0.5);
@define-color default-color         #E0E0E0;

@define-color active-ws-background  rgba(155, 89, 182, 0.6);
@define-color default-ws-background rgba(50, 50, 50, 0.6);
@define-color hover-ws-background   #787878;
@define-color urgent-ws-background  #EB4D4B;
@define-color ws-color              #F0F0F0;

@define-color panel-background      rgba(155, 89, 182, 0.5);
@define-color alt-background        rgba(90, 90, 90, 0.5);
@define-color alt-color             #F09090;

@define-color mode-background       rgba(220, 0, 0, 0.5);
@define-color mode-color            #D0D0C0;

window#waybar {
    font:       13px "Dejavu Sans", Helvetica, Arial, sans-serif;
    background: @bar-background;
    color:      @default-color;
}

 /* Disabled until this is fixed: https://github.com/Alexays/Waybar/issues/806
window#waybar.empty {
    background: transparent;
}

window#waybar.empty .modules-right {
    background: transparent;
} */

@keyframes blink {
    to {
        background: @alt-background;
    }
}

#workspaces button {
    background:    @default-ws-background;
    color:         @ws-color;
    padding:       3px 20px;
    border:        none;
    box-shadow:    none;
    border-radius: 0;
}

#workspaces button:hover {
    background: @hover-ws-background;
}

#workspaces button.active, #workspaces button.focused {
    background: @active-ws-background;
}

#workspaces button.urgent {
    animation:  1s alternate 6 blink linear;
    background: @urgent-ws-background;
}

#workspaces button:last-child {
    border-radius: 0px 30px 30px 0;
    margin-right:  15px;
}

#mode, #submap {
    background:    @mode-background;
    color:         @mode-color;
    padding:       1px 30px;
    border-radius: 30px;
    font-weight:   bold;
}

.modules-right {
    background:    @panel-background;
    border-radius: 30px 0 0 30px;
    padding:       0 3px 0 14px;
    margin-left:   5px;
}

.modules-right label {
    padding: 3px 8px;
}

#custom-updates {
    text-shadow: 1px 0 6px @alt-color;
    font-style:  italic;
}
